.main{
    padding: 20px;
    line-height: 200%;
}

.first{
    color:'green';
    text-decoration: 'line-through';
    margin-right: '10px';
}

.second{
    margin-right: '10px'
}

.fbutton{
    margin-right: '10px'
}