.main-div{
    color: red;
    text-align: center;
    margin: 20px 10px;
    padding: 10px;
}

.main{
    color: blueviolet;
    text-align: center;
    margin: 20px 10px;
    padding: 10px;
}

.container{
    background-color: blanchedalmond;
    color: teal;
    padding: 16px;
    border: 1px solid lightcoral;
}